VITE_API_URL=http://localhost:3000/api/v1/
MODE=development

# FPT EKYC
VITE_FPT_NAME=FPT
VITE_FPT_FEATURE_FACE_URL=https://api.fpt.ai/dmp/checkface/v1/
VITE_FPT_FEATURE_FACE_NAME=ChoVietFace
VITE_FPT_FEATURE_FACE_KEY=

# Kiểm tra địa chỉ có tồn tại 
VITE_LOCATION=