VITE_API_URL=http://localhost:3000/api/v1/
MODE=development

# GHN API
VITE_GHN_API_TOKEN=your_ghn_api_token_here

# FPT EKYC
FPT.NAME=FPT
FPT.FEATURE.FACE.URL=
FPT.FEATURE.FACE.NAME=
FPT.FEATURE.FACE.KEY=
